<div class="body_contenedor">
  
        <div class="container mr-0 ml-0">
            <div class="row">
                <div class="col-sm-12 col-lg-2">
                    <div class="list-group mb-4" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Rayen</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">WebLUN</a>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-10">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active cajas_panel" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                          <p>Rayen Salud dispone de la Ficha Clínica Electrónica Rayen como centro del Ecosistema de Aplicaciones Interoperables, articulable, creciente e inclusivo, que permite fortalecer el trabajo en la red asistencial y que de soporte a la gestión operacional, con foco en la mejora de la atención integral a los usuarios de la salud. </p>
                          <p>RAYEN, la Ficha Clínica Electrónica (FCE) para la Atención Primaria o Ambulatoria de Salud, es un robusto sistema de información clínico, configurable, seguro y con altos estándares de interoperabilidad y seguridad, creada bajo el modelo de atención biopsicosocial, con enfoque familiar y centrado en la persona, que apoya integralmente la gestión clínica y administrativa de los Centros de Salud.</p>
                          
                          <p class="mb-5">El Ecosistema de Servicios de Rayen Salud plantea satisfacer y priorizar algunas necesidades del sector, tales como la incorporación -a través de Proyectos de información- de módulos y aplicativos en los niveles de atención que redundarán en:</p>
                          
                          <ul class="list-group list-group-flush col-sm-10">
                            <li class="list-group-item lista_bullet"><i class="fas fa-check-square text-danger mr-2"></i> Agilizar el proceso de atención del usuario.</li>
                            <li class="list-group-item lista_bullet"><i class="fas fa-check-square text-danger mr-2"></i> Modificar los procesos de registro clínico.</li>
                            <li class="list-group-item lista_bullet"><i class="fas fa-check-square text-danger mr-2"></i> Contar con una fuente de información estandarizada, actualizada, segura y confiable.</li>
                            <li class="list-group-item lista_bullet"><i class="fas fa-check-square text-danger mr-2"></i> Disminuir sustantivamente la duplicidad de registros.</li>
                            <li class="list-group-item lista_bullet"><i class="fas fa-check-square text-danger mr-2"></i> Asegurar la interoperabilidad de los diversos Proyecto de información del sector.</li>
                            <li class="list-group-item lista_bullet"><i class="fas fa-check-square text-danger mr-2"></i> Implementar los principios de gestión de cambio para hacer los Proyectos más eficientes.</li>
                          </ul>
                          
                          <p class="mt-5 mb-5">Esta Ficha Clínica Electrónica cuenta con los siguientes módulos: </p>
                          <div class="card-deck mb-4">
                              <div class="card border-danger caja_tarjeta">
                                  <div class="card-body">
                                      <div class="fa-3x text-center mb-2 text-danger">
                                          <i class="far fa-edit"></i>
                                      </div>
                                      <h5 class="card-title text-center">Admisión</h5>
                                      <p class="card-text">Permite la admisión e ingreso de nuevos usuarios, registrados en el sistema con su información personal y de contacto. Además, los conecta en grupos para dar soporte al modelo de Salud Familiar.</p>
                                  </div>
                              </div>
                              <div class="card border-danger caja_tarjeta">
                                  <div class="card-body">
                                      <div class="fa-3x text-center mb-2 text-danger">
                                          <i class="fas fa-address-book"></i>
                                      </div>   
                                      <h5 class="card-title text-center">Agenda</h5>
                                      <p class="card-text">Permite conocer y administrar las agendas de los establecimientos de salud. Permite registrar información para llevar a cabo una adecuada gestión sobre las vacantes, programaciones de consulta, actividades grupales, etc.</p>
                                     
                                  </div>
                              </div>
                          </div>
                          <div class="card-deck mb-4">
                              <div class="card border-danger caja_tarjeta">
                                  <div class="card-body">
                                      <div class="fa-3x text-center mb-2 text-danger">
                                          <i class="fas fa-file-medical"></i>
                                      </div>
                                      <h5 class="card-title text-center">Morbilidad</h5>
                                      <p class="card-text">Registro de actividades, procedimientos y antecedentes, visualizables en pantalla. Posibilidad de filtrar historial de atenciones según variables. Anamnesis, exámen físico general y segmentario.</p>
                                      
                                  </div>
                              </div>
                              <div class="card border-danger caja_tarjeta">
                                  <div class="card-body">
                                      <div class="fa-3x text-center mb-2 text-danger">
                                          <i class="fas fa-calendar-alt"></i>
                                      </div>
                                      <h5 class="card-title text-center">Cita</h5>
                                      <p class="card-text">Mediante el Número Identificatorio Único, permite citar usuarios, alertar sobre inasistencias y exámenes preventivos; predefinidos y parametrizables.</p>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="card-deck mb-4">
                              <div class="card border-danger caja_tarjeta">
                                  <div class="card-body">
                                      <div class="fa-3x text-center mb-2 text-danger">
                                          <i class="fas fa-users"></i>
                                      </div>
                                      <h5 class="card-title text-center">Población en Control</h5>
                                      <p class="card-text">Formularios inteligentes, clínicos y parametrizables, posibles de comparar con registros históricos para un mejor seguimiento de programas de salud. El subcomponente “Chile Crece Contigo”, responde al registro y seguimiento de la población de niños y niñas desde su vida intrauterina y su nacimiento, considerando los factores de vulnerabilidad biosicosocial. </p>
                                  </div>
                              </div>
                              <div class="card border-danger caja_tarjeta">
                                  <div class="card-body">
                                      <div class="fa-3x text-center mb-2 text-danger">
                                          <i class="fas fa-file-medical-alt"></i>
                                      </div>   
                                      <h5 class="card-title text-center">Referencia y Contrarreferencia</h5>
                                      <p class="card-text">Permite agilizar los procesos en la Red Asistencial, gestionando listas de esperas y posibilitando la auditoría de las solicitudes de interconsulta, en conjunto con información clínica entre profesionales.</p>
                                     
                                  </div>
                              </div>
                          </div>
                          <div class="card-deck mb-4">
                              <div class="card border-danger caja_tarjeta">
                                  <div class="card-body">
                                      <div class="fa-3x text-center mb-2 text-danger">
                                          <i class="fas fa-utensils"></i>
                                      </div>
                                      <h5 class="card-title text-center">Bodega de alimentos</h5>
                                      <p class="card-text">Herramienta parametrizable para el manejo en bodega de alimentos complementarios según indicación, que genera alertas de retiro.</p>
                                  </div>
                              </div>
                              <div class="card border-danger caja_tarjeta">
                                  <div class="card-body">
                                      <div class="fa-3x text-center mb-2 text-danger">
                                          <i class="fas fa-capsules"></i>
                                      </div>   
                                      <h5 class="card-title text-center">Farmacia</h5>
                                      <p class="card-text">Apoya la labor de farmacias visualizando stocks e informes integrados con dispensadores para gestionar bodegas. Además, propicia el manejo de múltiples tipos de receta y la prescripción electrónica desde el box de atención.</p>
                                     
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-10 col-sm-12 foto_pendon">
                              <img class="img-fluid" src="/assets/Rayen_Ecosistema.png" alt="">
                          </div>
                          
                        </div>
                        <div class="tab-pane fade cajas_panel" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                            <p class="pb-2">El sistema Web LUN, es un sistema que nace para el control de las Licencias de Usuario Nombradas por las Entidades Contratantes. Para lo cual existen los siguientes Roles:</p>
                            
                            <div class="card-deck mb-4">
                                    <div class="card border-danger caja_tarjeta">
                                        <div class="card-body">
                                            <div class="fa-3x text-center mb-2 text-danger">
                                                <i class="far fa-calendar-alt"  data-fa-mask="fas fa-circle"></i>
                                            </div>
                                            <h5 class="card-title text-center">Administración Web</h5>
                                            <p class="card-text">Usuario que tendrá los siguientes atributos: <strong>Creación, Modificación</strong> y <strong>Eliminación</strong> de Usuarios del Sistema. Además tendrá el control de los rebalses de cada Entidad Contratante (Usuarios de RayenSalud).</p>
                                        </div>
                                    </div>
                                    <div class="card border-danger caja_tarjeta">
                                        <div class="card-body">
                                            <div class="fa-3x text-center mb-2 text-danger">
                                                <i class="fas fa-edit"></i>
                                            </div>   
                                            <h5 class="card-title text-center">Administración LUN</h5>
                                            <p class="card-text">Usuario que tendrá los siguientes atributos: <strong>Creación, Modificación</strong> y <strong>Activación. Bloquear</strong> y <strong>Eliminar</strong> las licencias. Quedando un registro de estos movimientos en el sistema (Usuario de la Entidad Contratante).</p>
                                           
                                        </div>
                                    </div>
                                    <div class="card border-danger caja_tarjeta">
                                        <div class="card-body">
                                            <div class="fa-3x text-center mb-2 text-danger">
                                                <i class="fas fa-search"></i>
                                            </div>
                                            <h5 class="card-title text-center">Consultor LUN</h5>
                                            <p class="card-text">Usuario que tendrá los privilegios de <strong>Consulta</strong> de las licencias asignadas por la Entidad Contratante a la que pertenece. Permite saber si un usuario tiene una licencia activa y desde y hasta cuándo entrará en vigencia.</p>
                                            
                                        </div>
                                    </div>
                                
                            </div>
                            <p>RAYEN o FLORENCE, consultarán a Web LUN antes de <strong>Crear</strong> y/o <strong>Modificar</strong> un usuario, siendo Web LUN el que autorizará dicha creación de Usuarios a estos sistemas.</p>
                            <p>Además Web LUN comunicará a estos sistemas cuando deban bloquear a los usuarios desactivados por el administrador LUN.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 
    </div>
    