@import 'assets/bootstrap.min.css';

/*body{
    padding-top: 70px;
}*/

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-top: 70px;
    min-height: 100%;
}


.no_padding_top_bot{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

footer{
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .8rem;
}
footer p{
    margin: 0;
}
