@import 'assets/bootstrap.min.css';

/*body{
    padding-top: 70px;
}*/

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-top: 70px;
    min-height: 100%;
}


.no_padding_top_bot{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

footer{
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .8rem;
}
footer p{
    margin: 0;
}
/* Pagination */
.paginate_button:hover {
    color: white !important;
    border: none;
    background-color: transparent !important;
    background: transparent !important;
    background: transparent !important;
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    /* background: linear-gradient(to bottom, #585858 0%, #111 100%); */
}
.paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0 !important;
    margin-left: 0 !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color:transparent !important;
    border: transparent !important;
    border-radius: 2px;
    margin-bottom: 30px;
    margin-top: 3px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FF7851;
    border-color: #FF7851;
}
.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #FF7851;
    border-color: #FF7851;
}
/* Show register */
.dataTables_length label {
    display: inline-flex !important;
    margin-bottom: 0.5rem;
    margin-top: 5px !important;
}
/* DataTable */
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: collapse !important;
    border-spacing: 0;
}
table.dataTable.no-footer {
    border-bottom: none;
}
/* Search bar */
.dataTables_filter label {
    display: inline-flex !important;
    margin-bottom: 0.5rem;
}
/* check report */
.puedeVer{
    position: fixed;
    margin-top: 25px;
    margin-left: 606px;
}
/* boton guardar */
.btn_naranja{
    background-color: #F28B26;
    color: #fff;
}
table.dataTable thead th{
    background-color:#78C2AD;
    color:#ffff;
}