@import 'assets/bootstrap.min.css';

/*body{
    padding-top: 70px;
}*/

<<<<<<< HEAD
=======

>>>>>>> 451d57d1b300e2e80d5011df87a74a0641a158fa
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
<<<<<<< HEAD
}

body {
    position: relative;
    margin: 0;
    padding-top: 70px;
    min-height: 100%;
}
=======
}

body {
    position: relative;
    margin: 0;
    padding-top: 70px;
    min-height: 100%;
}

>>>>>>> 451d57d1b300e2e80d5011df87a74a0641a158fa

.no_padding_top_bot{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

footer{
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .8rem;
}
footer p{
    margin: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 451d57d1b300e2e80d5011df87a74a0641a158fa
